<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 200px;
            margin: 0 auto;
        }
        input {
            margin: 5px 0;
            padding: 10px;
            border: 1px solid #000;
        }

    </style>
    
    <form action="http://localhost:8080/PHP-MVC/index.php?controller=login&action=login" method="post">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <div>
        {{ message }}
    </div>

    <a href="http://localhost:8080/PHP-MVC/index.php?controller=login&action=register">Register</a>
</body>
</html>